.rabbit-lyrics {
    position: relative; // Must be relative, otherwise cannot calculate offset
    height: 16.5em; // 11 lines
    overflow-x: hidden;
    overflow-y: auto;

    .line {
        min-height: 1.5em;

        &.active {
            color: #41bdff;
        }
    }

    // Mini mode, only show active lines
    &.mini {
        min-height: 3em;

        .line {
            display: none;

            &.active {
                display: block;
            }
        }
    }
}
